@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.LandingPage{
    width: 100%;
    height: 83vh;
    padding: 2rem 8rem;
}

.LandingPage_ContentAre{
    width: 100%;
    height: 100%;
}

.top_content{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

}

.leftSide_content h1{
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-size: 5.5rem;
    letter-spacing: 5px;
}

.leftSide_content p{
    width: 39rem;
    text-align: justify;
    font-weight: 500;
    color: #595959;
}

.rightSide_img{
    height: 100%;
}

.rightSide_img img{
    height: 100%;
}

.bottom_content{
    width: 100%;
    height: 35%;
    padding: 2.8rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

.features_card{
    width: 31%;
    height: 100%;
}

.feature_heading{
    display: flex;
    margin-bottom: 0.4rem
}

.feature_heading img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.7rem;
}
.feature_heading h4{
    font-size: 1.3rem;
    margin-top: 0.3rem;
    font-family: 'Montserrat';
    font-weight: 600;
}

.features_card p{
    font-family: 'Montserrat'; 
    text-align: justify;
    font-weight: 500;
    color: #595959;
    font-size: 0.9rem;
}


.foodDonate_btn{
    border-radius: 0 2rem 0 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    border: none;
    outline: none;
    width: 12rem;
    height: 3rem;
    background: linear-gradient(to right, #FF5F3F, #FDA600);
    margin: 1rem 0;
    cursor: pointer;
}
.foodDonate_btn:hover{
    background: linear-gradient(to right, #ef593b, #f09c00);
}



/* -------------------- Our Impact ----------------- */

.OurImpact{
    width: 100%;
    /* height: 60vh; */
    background-color: #f1f1f1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* remove it later -------------------- */
    margin-bottom: 0.5rem; 
}

.ourImpactH1{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.impactInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.impactInfo div h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
    color: #FF6E32;
}

.impactInfo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impactInfo div h4{
    font-weight: 600;
    color: #7b7b7b;
    font-family: 'Montserrat';
}

.impactInfo div p{
    padding: 0 3rem;
    color: #7b7b7b;
    text-align: center;
}


/* ------------------------- Donate Section ----------------------- */

.DonationCard{
    height: 75vh;
    width: 100%;
    background-image: url('../../assets/donateBanner.png');
    background-color: black;
    padding: 5rem;

    /* remove it later -------------------- */
    margin-bottom: 0.5rem;
}

.DonationCard h1{
    font-family: 'Montserrat';
    color: white;
    font-weight: 800;
    font-size: 4rem;
}