.RequestGenForm{
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer_border_requestBox{
    border-radius: 1.2rem;
    height: 32rem;
    width: 62rem;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.requestGenFormBox{
    background-color: white;
    height: 31.4rem;
    width: 61.4rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestGenFormBox h1{
    font-weight: 600;
}

.requestForm{
    display: flex;
    flex-direction: column;
}

.input_details{
    width: 70%;
    height: 6vh;
    background-color: #F0F0F0;
    border: none;
    outline: none;
    padding: 0.1rem 1.3rem;
    margin: 0.6rem 0;
    border-radius: 2rem;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
}

.tAndc_label{
    font-size: 0.9rem;
    color: #6E6E6E;
}

.submit{
    align-self: center;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    border: none;
    outline: none;
    width: 15rem;
    height: 3rem;
    background: linear-gradient(to right, #FF5F3F, #FDA600);
    margin: 1.8rem 0;
    cursor: pointer;
}
.submit:hover{
    background: linear-gradient(to right, #ef593b, #f09c00);
}